@font-face{
    font-family: 'Gilroy';
    src: url(Gilroy-Regular.woff) format(woff);
}
/* ---------------------------------------------- */
/*                    GENERAL                     */
/* ---------------------------------------------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Krona One', sans-serif;
}

.hide{
    display: none;
}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ---------------------------------------------- */
/*                    HEADER                      */
/* ---------------------------------------------- */

/* -------- LOGO -------- */

/* -------- NAV -------- */

/* ---------------------------------------------- */
/*                      MAIN                      */
/* ---------------------------------------------- */
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* -------- BG IMAGE -------- */
.stats{
  margin-left: -160px;
  /* margin-right: -150px; */
    width: 1519px;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url('bg.jpg');
    background-size:cover;

}
/* -------- LATEST REPORT -------- */
.latest-report{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin: 0 auto;
    padding-top: 50px;

    color: #FFF;
}

.country,
.total-cases,
.recovered,
.deaths{
    height: 100px;
}

.name{
    font-size: 2.2em;
    color: #be64f1;
    font-weight: bold;
}

.change-country{
    cursor: pointer;
}

.title{
    font-size: 1.3em;
}
.total-cases .value{
    font-size: 2em;
    font-weight: bold;
}
.recovered .value{
    font-size: 2em;
    font-weight: bold;
    color: #009688;
}
.deaths .value{
    font-size: 2em;
    font-weight: bold;
    color: #f44336;
}
.new-value{
    font-size: 1.3em;
}
/* -------- CHART -------- */
.chart{
    width: 80%;
    height: 70vh;
    min-height: 500px;

    margin: 0 auto;
    padding: 50px 0;
}
/* -------- SEARCH COUNTRY -------- */
.search-country{
    position: relative;
    top: 10px;
}
.search-box{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 400px;
    height: 30px;

    background-color: #111;

    z-index: 1;
}
.search-box input{
    width: 360px;
    height: 25px;

    border: none;

    background-color: transparent;
    color: #FFF;

    padding-left: 15px;

    font-size: 1.1em;
}
.search-box img{
    width: 20px;
    padding-right: 5px;
    cursor: pointer;
}

.country-list{
    display: flex;

    position: absolute;
    top: 30px;

    width: 400px;
    height: 300px;

    background-color: #111;
    opacity: 0.9;

    overflow-y: scroll;
}

.country-list ul{
    width: 100%;
}

.country-list ul li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: #FFF;
}
.country-list ul li:hover{
    border-left: 1px solid #FFF;
}
/* SCROLL BAR */
.country-list::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .country-list::-webkit-scrollbar-track {
    background: #111;
  }

  /* Handle */
  .country-list::-webkit-scrollbar-thumb {
    background: #F1F1F1;
  }

  /* Handle on hover */
  .country-list::-webkit-scrollbar-thumb:hover {
    background: #FFF;
  }
/* ---------------------------------------------- */
/*                    FOOTER                      */
/* ---------------------------------------------- */
footer{
    max-width: 1200px;
    height: 60px;

    margin: 0 auto;
    background-color: #6a149b;
}

.footer-container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.copyright{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright p{
    color: #FFF;
}
/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */
@media screen and (max-width: 600px){
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(16.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.sub-header img:hover{

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
    transition: 0.5s;

}
.sub-header h1{
  font-size: 80px;

}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
  }


@media (max-width: 700px) {
  nav img{
    margin-top: -50px;
    position: absolute;
    margin-left: 16%;
    width: 250px;
    left: 0px;
  }
}

.nav-links
{
  margin-top: -100px;
  margin-right: -50px;
  flex: none;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 80px;

}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.5s;
}
nav .fas{
  display: none;
}
nav .fa{
  display: none;
}
@media(max-width: 700px) {
  .text-box h1{
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }

  .nav-links{
    position: fixed;
    background: #f44336;
    height: 50vh;
    width: 180px;
    top: 100px; /*100*/
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fas{
    display: block;
    color: #fff;
    margin: 300px;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
      }
nav .fa{
        display: block;
        color: #fff;
        margin: 5px;
        font-size: 22px;
        cursor: pointer;
        position: relative;
          }
  .nav-links ul{
    padding: 20px;
  }

}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;

}
.footer h4{
  margin-bottom: 25px;
  margin-right: 20px;
  font-weight: 600;
}
.icons .fab{
  color: #000;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.fa-heart
{
    color: #f44336;

}




/* about us page */
.sub-header{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(16.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(16.jpg); */
}
.sub-header img:hover{

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
    transition: 0.5s;
      /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(16.jpg); */

}
.sub-header h1{
  font-size: 60px;
  margin-top: 12px;
  /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(16.jpg); */
}
.header{
  min-height: 100vh;
  min-width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(16.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (max-width:700px) {
  .sub-header h1{
    font-size: 30px;
    margin-top: 170px;
  }
}
